@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #1e252b;

    @apply text-gray-300;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}

.logo {
  font-family: "Lobster" !important;
}
